@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: Manrope;

  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.react-datepicker-popper {
  z-index: 9999 !important;
}
.react-datepicker-wrapper {
  display: inline-block;
  padding: 0;
  border: 0;
  height: 42px;
  width: 100%;
  z-index: 999;
}
.react-datepicker__input-container {
  width: 100%;
  height: 100%;
}
.react-datepicker__input-container > input{
  width: 100%;
  height: 100%;
  /* padding: 0 12px; */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.skewed-45 {
  transform: skew(45deg, 0deg);
}
.skewed-45-reverse {
  transform: skew(0deg, 45deg);
}

.face {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid #000;
}

.cube-container {
  perspective: 1000px;
  width: 100px;
  height: 100px;
  position: relative;
  margin: auto;
}

.cube {
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(-20deg) rotateY(20deg);
  transition: transform 0.5s;
}
.cube:hover {
  transform: rotateY(360deg) rotateX(360deg);
}

.face {
  position: absolute;
  width: 100px;
  height: 100px;
  opacity: 0.95;
  border: 2px solid #222;
}

.front  { transform: rotateY(0deg) translateZ(50px); }
.back   { transform: rotateY(180deg) translateZ(50px); }
.right  { transform: rotateY(90deg) translateZ(50px); }
.left   { transform: rotateY(-90deg) translateZ(50px); }
.top    { transform: rotateX(90deg) translateZ(50px); }
.bottom { transform: rotateX(-90deg) translateZ(50px); }


/* Animations */

/* Success Animation (2.5s) */
@theme {
  --animate-grow-shrink: grow-shrink 1.5s cubic-bezier(0.42, 0, 0.58, 1) infinite;

  @keyframes grow-shrink {
    0% {
      min-height: 40px;
      min-width: 40px;
      
      height: 40px;
      width: 40px;
    }
    33% {
      min-height: 60px;
      min-width: 60px;

      height: 60px;
      width: 60px;
    }
    50% {
      min-height: 60px;
      min-width: 60px;

      height: 60px;
      width: 60px;
    }
    75% {
      min-height: 40px;
      min-width: 40px;

      height: 40px;
      width: 40px;
    }
    100% {
      min-height: 40px;
      min-width: 40px;

      height: 40px;
      width: 40px;
    }
  }

  --animate-grow-shrink-outer: grow-shrink-outer 1.5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
  @keyframes grow-shrink-outer {
    0% {
      min-height: var(--spinner-outer-size, 40px);
      min-width: var(--spinner-outer-size, 40px);

      height: var(--spinner-outer-size, 40px);
      width: var(--spinner-outer-size, 40px);
    }
    33% {
      min-height: var(--spinner-outer-size-pulsed, 100px);
      min-width: var(--spinner-outer-size-pulsed, 100px);

      height: var(--spinner-outer-size-pulsed, 100px);
      width: var(--spinner-outer-size-pulsed, 100px);
    }
    50% {
      min-height: var(--spinner-outer-size-pulsed, 100px);
      min-width: var(--spinner-outer-size-pulsed, 100px);

      height: var(--spinner-outer-size-pulsed, 100px);
      width: var(--spinner-outer-size-pulsed, 100px);
    }
    75% {
      min-height: var(--spinner-outer-size, 40px);
      min-width: var(--spinner-outer-size, 40px);

      height: var(--spinner-outer-size, 40px);
      width: var(--spinner-outer-size, 40px);
    }
    100% {
      min-height: var(--spinner-outer-size, 40px);
      min-width: var(--spinner-outer-size, 40px);

      height: var(--spinner-outer-size, 40px);
      width: var(--spinner-outer-size, 40px);
    }
  }

  --animate-fade-in: fade-in 0.5s ease-in-out forwards;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  --animate-fade-out: fade-out 0.5s ease-in-out forwards;
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
